<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title %></title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <h1>Messages</h1>
    <ul>
      <% messages.forEach (message => { %>
      <li><strong><%= message.user%></strong>: <%= message.text%></li>
      <li>
        <small
          >Added on:
          <script>
            // Parse the UTC date string
            var utcDate = new Date("<%= message.added %>");
            // Convert to local time string
            var localDate = utcDate.toLocaleString();
            document.write(localDate);
          </script>
        </small>
      </li>
      <% })%>
    </ul>
    <a href="/new">Add message</a>
  </body>
</html>
